.color-scale-1 {
  fill: #f0f7c8;
}
.color-scale-2 {
  fill: #d6e685;
}
.color-scale-3 {
  fill: #bcf990;
}
.color-scale-4 {
  fill: #8cc665;
}
.color-scale-5 {
  fill: #65b22a;
}
.color-scale-6 {
  fill: #44a340;
}
.color-scale-7 {
  fill: #2b9b25;
}
.color-scale-8 {
  fill: #1f821a;
}
.color-scale-9 {
  fill: #186614;
}
.color-scale-10 {
  fill: #104c0d;
}
.color-empty {
  fill: #ebedf0;
}

.react-calendar-heatmap text {
  /* font-size: 10px; */
  fill: black;
}

/* .css-uks7c6-MuiSvgIcon-root {
  position: absolute !important;
  margin-right: 10px !important;
} */

.border-square {
  /* border: 5px solid black !important; */
  border: 1px solid #ccc; /* Outer border */
  outline: 1px solid #000; /* Inner outline */
  outline-offset: -1px; /* Moves the outline inside */
}

.deleteButton {
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  right: 5px;
  position: absolute;
  /* background-color: #f78fb0; */
}

.calendar {
  width: 70vw;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  position: relative;
}

/* Style for heatmap day cells */
.heatmap-day {
  fill: red;
  position: relative;
  margin: 2px;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip on hover */
.heatmap-day:hover::after {
  content: attr(data-habit) " | Date: " attr(data-date) " | Count: "
    attr(data-count);
  position: absolute;
  top: -35px; /* Position the tooltip above the square */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 999;
}

/* Add different colors based on count */
.color-scale-1 {
  background-color: #e0f7fa;
}

.color-scale-2 {
  background-color: #80deea;
}

.color-scale-3 {
  background-color: #26c6da;
}

.color-scale-4 {
  background-color: #00bcd4;
}

.color-scale-5 {
  background-color: #0097a7;
}

.color-empty {
  background-color: #f5f5f5;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
